{
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="text"] {
  padding: 5px;
  width: 80px;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

#shopping-list-item {
  width: 250px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.shopping-list {
  list-style: none;
  padding-left: 0;
}

.shopping-list > li {
  position: static;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid darkgrey;
}

.shopping-item {
  display: block;
  color: purple;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 10px;
}

.shopping-item__checked {
  text-decoration: line-through;
  color: green;
}

.shopping-item-toggle {
  color: green;
}

.shopping-item-toggle__checked {
  color: purple;
}

.shopping-item-delete {
  color: red;
}

.shopping-item-edit {
  color: blue;
}

.showEdit {
  position: relative;
  top: -4px;
  left: 0;
  height: 34px;
  width: 500px;
  max-width: 600px;
  display: normal;
  margin-bottom: 10px;
}

.hideEdit {
  display: none;
}

.showText {
  position: relative;
  top: -4px;
  height: 34px;
  display: normal;
}

.hideText {
  display: none;
}

